@model List<RealTimeThemingEngine.Web.Models.Theming.ThemeListViewModel>

@{
    ViewBag.Title = "Theme Management";
}

<header class="form-header" ciphr-require="theme-management" ciphr-module-name="ThemeManagement" ciphr-module-variable="index">
    <div class="container">
        <h1 class="form-title">Theme Management</h1>
    </div>
</header>
<div class="container">
    <div class="card">
        <div class="card-body">
            <table id="theme-table">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(x => x.Select(z => z.Name))</th>
                        <th>@Html.DisplayNameFor(x => x.Select(z => z.Active))</th>
                        <th>@Html.DisplayNameFor(x => x.Select(z => z.ReadOnly))</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    @item.Active
                                </td>
                                <td>
                                    @item.ReadOnly
                                </td>
                                <td>
                                    <button class="btn btn-primary" data-id="@item.ThemeId" title="Edit @item.Name" type="button">Edit</button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <button class="btn btn-secondary" id="create-theme-btn" type="button">
                <i aria-hidden="true" class="fas fa-plus-square"></i>Create
            </button>
            <button class="btn btn-secondary" id="import-theme-btn" type="button">
                <i aria-hidden="true" class="fas fa-upload"></i>Import
            </button>
        </div>
    </div>
</div>