<a class="list-group-item list-group-item-action js-logo-item" data-logo-name="{{logoName}}" href="#" id="{{id}}" title="Select {{logoName}} as the active logo">
    <div class="text-center">
        <img alt="{{logoName}}" class="text-center bg-dark" id="{{id}}-img" src="/Assets/Images/logos/{{logoName}}" />
    </div>
</a>